.location-place {
  margin-top: 70px;
  display: flex;
}
.location-place .texture {
  width: 320px;
  margin-left: 50px;
}
.location-place .texture .title {
  color: #1a6692;
  margin: 0;
}
.location-place .texture p.description {
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.location-place .texture .social-links {
  margin: 60px 0 0 0;
}
.location-place .texture .social-links a {
  font-size: 18px;
  background-color: #eee;
  margin: 0 10px 10px 10px;
  padding: 10px 15px;
  color: black;
  transition: color, background-color 0.5s;
}
.location-place .texture .social-links a:hover {
  background-color: #f33f3f;
  color: white;
}
