.card {
  text-align: center;
}
.card h4 {
  color: #1a6692;
  font-size: 17px;
}
.card h5 {
  font-size: 13px;
  color: #f33f3f;
  font-weight: 500;
}
.card p {
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}
